@charset "utf-8";
/*
* {
    padding: 0;
    margin: 0;
}
*/
body,button,input,textarea,select {
    --line-of-chars:40;
    font-size: calc(100vw / (var(--line-of-chars)));
    letter-spacing: 0.05em;
    line-height: 1.75em;
}
p { line-height: 1.00em; }
img.icon {
    width: 1em;
    height: 1em;
}
footer {
    text-align:center;
}
